@charset "utf-8";
/*
    Name: Daniel Sprague
    V1 Due Date: 2019-04-23
    V2 Due Date: 2019-05-07
    V3 Due Date: 2019-05-21
    V4 Due Date: 2019-06-11
    File: styles.css
    This is an assignment for CIS155. This is a version of the website project (V4) done throughout the quarter.
    This document is the main css stylesheet for the website.
*/

/* Body Styles */

body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: lightblue;
}

body::after {
    clear: both;
    content: "";
    display: table;
}

/* Nav Styles */

nav {
    text-align: center;
    float: left;
    width: 100%;
}

/*
    All the li's in the nav ul were floating. The li's were the only children of the ul, so then the ul was collapsing and having a content-area
    height of 0. Here, an empty character is inserted after the floating elements so that the ul expands around the li, making the ul's margins
    come into play in the website layout.
*/
nav>ul::after {
    clear: both;
    content: "";
    display: table;
}

nav>ul {
    padding-left: 0px;
}

/*
    Here, we float the li's to the left. This makes it so that every li will try to go to the left, but not overlap eachother. 
    As there are five li's with a set width of 20% (of the body element), the five li's will span in a line across the body.
*/
nav>ul>li {
    display: block;
    float: left;
    width: 20%;
    height: 5%;
    border-style: solid;
    background-color: rgb(150, 200, 200);
    background-color: hsl(180, 31.2%, 68.6%);
    box-sizing: border-box;
    list-style-type: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Header Styles */

header h1 {
    color: DarkBlue;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    text-shadow: yellow 2px 2px 5px;
}

/* Heading Styles */

section.page_title {
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 1.8em;
}

h3 {
    text-align: center;
}

h4 {
    margin-left: 5px;
    margin-right: 5px;
}

/* Figure and Image Styles */

article>figure#busterHomePage {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

figcaption {
    text-align: center;
}

figure>img {
    width: 100%;
}

/* Article Styles */

section.blog_article {
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
}

article#blog {
    width: 72%;
    margin-left: 1.5%;
}

section.blog_article img {
    width: 100%;
}

article {
    margin-left: 2%;
    margin-right: 2%;
}

/* Text Styles */

p {
    margin-left: 10px;
    margin-right: 10px;
}

a#twitter {
    font-size: .95em;
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: none;
}

section.blog_article p {
    font-size: 14pt;
}

/* HTML Styles */

html {
    background: url(dog_heart.png) repeat fixed, lightblue;
}

/* Footer Styles */

/*
    This gives the footer its own line at the bottom (although the fixed aside may mess with it on certain sizes of browser
    windows as the clear does not check fixed elements.
*/
footer {
    text-align: center;
    clear: both;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid black;
}

/* Tables Styles */

table {
    border: 3px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

th {
    width: 50%;
    border-right: 1px solid black;
}

td {
    border-right: 1px solid black;
    width: 50%;
}

thead {
    border: 1px solid black;
}

/* The next two selectors alternate colors in the data cells*/
tbody tr:nth-of-type(2n+1) {
    background: rgb(180, 220, 210);
}

tbody tr:nth-of-type(2n) {
    background: rgb(170, 210, 250);
}

tfoot {
    border: 1px solid black;
}

/* List Styles */

dt::after {
    content: ":";
}

/* Form Styles */
/*
    M7LO11 Demonstrate how to format a form with CSS (group your form styles together in your CSS file, and document their overall impact on the form)
    Most of these changes are just spacing/sizing to make sure various buttons and labels are sized correctly with enough room to breathe. The background 
    color of the whole form is also changed and borders are added around the form and the legend. The legend border makes it look like the legend drops 
    down from the form border, which is neat. The submit button is also floated to the right. When textarea's are in the div to designate single columns,
    they will be cleared of their label on the left (as well as anything else that could be lurking on the left).
*/

/*
    M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML; note it has to include a time aspect, not be immediate)
    An animation is used on the form to make it fade in over two seconds on page load. This is done to draw attention to the form so that more people fill it out.
*/
form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(170, 210, 250);
    border: 1px solid black;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-play-state: running;
}

@keyframes fadeIn {
    from {opacity: 0;}
    100% {opacity: 1;}
}

div.twoColumn, div.oneColumn {
    margin-bottom: 10px;
}

div.twoColumn > label {
    margin-left: 20px;
}

div.oneColumn > textarea {
    display: block;
    clear: left;
}

textarea#suggestions {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    max-height: 300px;
    max-width: 1000px;
    min-width: 150px;
}

input#submitButton {
    float: right;
}

legend {
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    border-top: 0px;
}

/* Media Styles */
/*
    M8LO12 Demonstrate how to format media with CSS (CSS, group your media styles together and describe their overall impact on the media feature of your page)
    Iframe styles are also grouped in here, as the iframe is a video as well (just not an HTML5 media video).
    A 1 pixel border is added around the video, as well as a slight shadow. The height of the video
    is also set at 360px as the video is 360px and the browser was displaying the clip at 362px instead
    of 360px. Both the iframe and the video are thrown in a flex box so that they can be displayed
    with even spacing horizontally, while also going on top of eachother when in a mobile layout.
    Note that there aren't many styles one can apply to an HTML5 video.
    Note also that there are slight additional sizing styles under the mobile section to ensure that
    the video fits within the mobile screen.
*/

div.videos {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

video {
    border: 1px solid black;
    /* The default was adding an extra pixel each way vertically */
    height: 360px;
}

video, iframe {
    box-shadow: 2px 2px 2px black;
}

/* PC Styles */

@media only screen and (min-width: 481px) {
    
    /* Body Styles */

    body {
        width: 75%;
        min-width: 800px;
        max-width: 1485px;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }

    /* Div Styles */

    div.Changelog {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        widows: 3;
        orphans: 3;
        padding-bottom: 8px;
        border-bottom: 1px dashed black;
    }

    /* Aside Styles */

    aside#blog_aside {
        width: 25%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        float: right;
        border-style: solid;
        border-color: black;
        box-sizing: border-box;
        clear: right;
        background: radial-gradient(circle closest-side at center center, orange, lightblue);
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    aside figure {
        margin: 11px 10px;
        -webkit-flex: 1 1 120px;
        flex: 1 1 160px;
    }

    aside h3 {
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    /* Sets the width of the images to the width of the figure, effectively centering them when the figure is centered */
    aside figure img {
        width: 100%;
    }

    /* Submenu Styles */

    /*
       The first block makes the parent of the submenu be able to be an anchor of positioning for the pulldown. The second block is 
       formatting for the list items within the submenu regarding borders and spacing. The third block deals with positioning and sizing
        of the menu, as well as making it invisible except for when hovered. The fourth block makes the menu visible when hovered.
    */
    nav li.subHeader {
        position: relative;
    }

    nav ul.submenu>li {
        height: 5%;
        border-style: solid;
        background-color: rgb(152, 214, 214);
        list-style-type: none;
        box-sizing: border-box;
    }

    /* 
        The width is of the entire <html> element. There is a way to make the % width be of the "Blog". The positioning also ignores 
        the border of the blog button. I do not know quite why this is happening. This way works, but should be fixed in the future.
    */
    nav ul.submenu {
        display: none;
        position: absolute;
        padding: 0px;
        width: 16%;
        border-width: 0px;
    }

    a.subHeader:hover+ul.submenu, ul.submenu:hover {
        display: block;
    }

}

/* Mobile Styles */

/*
    Here, we use a media query to target phones and give phones their own special layout! The biggest differences are that submenus and asides are disabled, and the body
    takes up the entirety of the width of the phone screen. Other differences include making the blog images take up the entire width of the screen minus the border,
    disabling an unnecessary image on the homepage, making tables wider, and enabling a shorter nav link. These changes make the website much more useable on mobile.
*/
@media only screen and (max-width: 480px) {
    
    /* Article Style */

    article#blog {
        width: 100%;
        margin-left: 0px;
    }
    
    /* Aside Styles */

    aside {
        display: none;
    }
    
    /* Body Styles */

    body {
        width: 100%;
        margin: 0px;
    }

    /* Figure Styles */

    figure#busterHomePage {
        display: none;
    }

    figure {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Heading Styles */

    article#blog > h3 {
        display: none;
    }

    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* Submenu Styles */

    nav ul.submenu {
        display: none;
    }

    /* Table Styles */

    table {
        width: 100%;
    }

    /* Video Styles */
    
    video, iframe {
        max-width: 100%;
        max-height: 225px;
    }
}